.warning, .todo, .info, .danger, .success { border-left: 6px solid #FD0; padding: 10px 15px; margin-left: -20px; margin-right: -15px; background-color: #FAFAFA; border-radius: 2px; margin-top: 1.4em; margin-bottom: 1.4em; }

.warning { border-color: #ffc107; background-color: #fbe9b4; }

.info { border-color: #56ADEC; background-color: #d7e6f1; }

.danger { border-color: #F20; background-color: #f7c4bc; }

.success { border-color: #6c0; background-color: #e5f5d5; }

.todo { border-color: #373438; background-color: #e8e6ec; }
