/**
 * TODO - preamble
 */
/**
 * TODO - preamble
 *
 * These styles follow BEM naming convention with prefixes for some of the layers.
 * Base rules are assumed to be provided by the page SheerID is being used within.
 *
 * Class naming structure:
 *     block__element--modifier
 *
 * Prefixes:
 *     sid = sheerid global prefix to prevent classname collisions.
 *     l = layout rule
 *     m = module rule
 *     h = helper rule
 *
 * No grandchildren
 */
/**
 * TODO - preamble
 */
.sid ::-webkit-input-placeholder {
  font-style: italic; }
.sid :-ms-input-placeholder {
  font-style: italic; }
.sid ::-ms-input-placeholder {
  font-style: italic; }
.sid ::placeholder {
  font-style: italic; }

/**
 * TODO - preamble
 */
.sid-h-link-like {
  display: inline;
  color: #26c1db;
  cursor: pointer; }

.sid-h-link-like:hover {
  text-decoration: underline; }

.sid-h-screen-reader-only {
  left: -10000px;
  top: auto;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px; }

.sid-h-jumbo-text {
  font-size: 25px;
  font-weight: 800; }

.sid-h-small-text {
  font-size: 11px; }

/**
 * TODO - preamble
 */
.sid-l-horz-center {
  text-align: center;
  margin: 0 auto;
  justify-content: center; }

.sid-l-container,
.sid-l-container--narrow {
  margin: 0 auto; }

.sid-l-container {
  max-width: 450px;
  padding: 35px 0 15px 0; }

.sid-l-container--narrow {
  max-width: 300px; }

.sid-l-space-top-xl {
  margin-top: 110px; }

.sid-l-space-top-lg {
  margin-top: 50px; }

.sid-l-space-top-md {
  margin-top: 20px; }

.sid-l-space-top-sm {
  margin-top: 7px; }

.sid-l-space-btm-sm {
  margin-bottom: 7px; }

.sid-l-full-width {
  width: 100%; }

.sid-l-lead-image {
  height: 70px;
  width: 70px; }

.sid-birthdate {
  display: flex; }

.sid-birthdate__month,
.sid-birthdate__day,
.sid-birthdate__year {
  box-sizing: border-box;
  width: 33.33%; }

.sid-birthdate__month,
.sid-birthdate__day {
  margin-right: 7px; }

.sid-btn {
  background-color: #000;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 12px;
  outline: none;
  padding: 10px 20px;
  transition: all .2s;
  width: 100%; }

.sid-btn:hover {
  background-color: #444;
  cursor: pointer; }

.sid-btn-light {
  background-color: #fff;
  border: 2px solid #acb4c6;
  color: #707d9c; }

.sid-btn-light:hover {
  background-color: #acb4c6;
  color: #000; }

.sid-form-wrapper {
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px; }

/**
 * TODO - preamble
 */
.sid-input-select__control {
  background-color: #fff;
  border: 2px solid #acb4c6 !important;
  border-radius: 5px;
  color: #000;
  cursor: auto;
  font-size: 12px;
  font-weight: 400; }

.sid-input-select__control--is-focused {
  border: 2px solid #000 !important;
  box-shadow: none !important; }

.sid-input-select__option--is-selected,
.sid-input-select__option--is-focused {
  background-color: #eee !important;
  color: black !important; }

.sid-input-select__placeholder {
  font-style: italic; }

.sid-loading-screen {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 500px;
  width: 100%; }

.sid-spinner {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }
  .sid-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #26c1db;
    border-radius: 50%;
    -webkit-animation: sid-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            animation: sid-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #26c1db transparent transparent transparent; }
  .sid-spinner div:nth-child(1) {
    -webkit-animation-delay: -.45s;
            animation-delay: -.45s; }
  .sid-spinner div:nth-child(2) {
    -webkit-animation-delay: -.3s;
            animation-delay: -.3s; }
  .sid-spinner div:nth-child(3) {
    -webkit-animation-delay: -.15s;
            animation-delay: -.15s; }

@-webkit-keyframes sid-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sid-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.sid-names {
  display: flex; }

.sid-names__first-name,
.sid-names__last-name {
  box-sizing: border-box;
  width: 50%; }

.sid-names__first-name {
  margin-right: 7px; }

.sid-upload-wrap {
  display: flex;
  align-items: center;
  flex-direction: column; }

.sid-upload-wrap__dropzone {
  align-items: center;
  border-radius: 5px;
  border: 5px dashed #eee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 200px; }

.sid-upload-wrap__instructions {
  color: #666;
  max-width: 50%; }

.sid-file-list__file {
  background: #eee;
  border-radius: 5px;
  display: flex;
  margin: 5px 0;
  padding: 10px; }

.sid-file-list__remove-btn {
  cursor: pointer;
  margin-left: 5px;
  height: 15px;
  width: 15px; }

.sid-file-list__remove-btn::after {
  color: #000;
  content: '\d7';
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -2px;
  left: 0; }

.sid-upload-wrap__accepted-types {
  color: #666; }

.sid-form-region__label {
  font-weight: 500; }

.sid-header__title {
  font-size: 16px;
  font-weight: 800;
  margin: 24px 0 15px 0;
  text-align: center; }

.sid-text-input {
  background-color: #fff;
  border: 2px solid #acb4c6;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  cursor: auto;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 10px;
  transition: all .15s; }

.sid-text-input:focus {
  outline: none;
  border-color: #000; }

.sid-footer__two {
  margin-top: 15px; }

.sid-footer__powered-by-container {
  display: flex; }

.sid-footer__powered-by-container--stacked {
  display: block; }

.sid-footer__powered-by {
  padding-right: 1em; }

.sid-m-footer_text-block {
  margin-bottom: 16px; }

.sid-li {
  margin-bottom: 5px; }

.sid-error-msg {
  text-align: center; }

.sid-reward-code-wrap {
  font-size: 24px;
  font-weight: 800;
  height: 200px; }