<div id="sidebar" class="sidebar">
  <div class="site-title fs-6 lh-tight"></div>
  <span class="fs-3"><button class="js-main-nav-trigger navigation-list-toggle btn btn-outline" type="button" data-text-toggle="Hide">Menu</button></span>
  <div class="navigation main-nav js-main-nav">
    <nav>
      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="#Basics">Basics</a>
          <ul class="navigation-list-child-list">
            <li class="navigation-list-item">
              <a href="#Base-URL">Base URL</a>
            </li>
            <li>
              <a href="#Authentication">Authentication</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="#Endpoints">Endpoints</a>
          <ul id="endpoints-list" class="navigation-list-child-list">
            <!-- dynamically populated -->
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
